@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@section HeaderMinu
{


}
<div class="subheader py-2 py-lg-6 subheader-solid hidden-print" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-2">
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
        </div>
        <div>
        </div>


    </div>
</div>

